table.sortable {
  th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .desc {
    background-image: url(up_arrow.gif);
  }

  th .asc {
    background-image: url(down_arrow.gif);
  }
}

.group-by{
  .column{
    cursor: pointer !important;
  }
}

.pull-right{
  float: right;
}
